

.dot {
    margin-top: 0%;
    height: 35px;
    width: 35px;
    background-color: #13ee0c;
    border-radius: 50%;
    display: inline-block;
    shape-margin: 0px ;
  }
 
.topnav {
    display: inline-block;
    overflow: hidden;
    padding-top: 20px;
    padding-right: 40px;
    text-decoration: underline;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #13ee0c;
    text-align: center;
    padding: 14px 16px;
   
    font-size: 25px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #13f50b;
    color:rgb(14, 13, 13) ;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }